.rectangle1 {
	width:80%;
	height:80px;
	background:#2ECC71;
}

.rectangle2 {
    width:20%;
    height:80px;
    background:#2980B9;
}

.rectangle3 {
    width:30%;
    height:180px;
    background:#E74C3C;
}

.rectangle4 {
    width:30%;
    height:90px;
    background: #E67E22;
}

.rectangle5{
    width:40%;
    height:90px;
    background: #95A5A6; 
}

.rectangle6{
    width:20%;
    height:90px;
    background: #F39C12; 
}

.rectangle7{
    width:25%;
    height:90px;
    background: #16A085; 
}

.rectangle8{
    width:25%;
    height:90px;
    background: #D35400;
}

.rectangle9{
    width:100%;
    height:250px;
    background: #2C3E50;
}

.gauche {
    float: left;
}
